In [ ]:
import pandas as pd
import numpy as np

In [ ]:
     M = pd.read_csv('tmdb_5000_movies.csv')
credit = pd.read_csv('tmdb_5000_credits.csv')

In [ ]:
M.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [ ]:
credit1452.head().info()

NameError: ignored

In [ ]:
credit.head(1)["crew"].values

NameError: ignored

In [ ]:
movies = M.merge(credit, on= 'title')
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [ ]:
movies = movies[['title','genres','cast', 'crew','movie_id','keywords','overview']]
movies

                                         title  ...                                           overview
0                                       Avatar  ...  In the 22nd century, a paraplegic Marine is di...
1     Pirates of the Caribbean: At World's End  ...  Captain Barbossa, long believed to be dead, ha...
2                                      Spectre  ...  A cryptic message from Bond’s past sends him o...
3                        The Dark Knight Rises  ...  Following the death of District Attorney Harve...
4                                  John Carter  ...  John Carter is a war-weary, former military ca...
...                                        ...  ...                                                ...
4804                               El Mariachi  ...  El Mariachi just wants to play his guitar and ...
4805                                 Newlyweds  ...  A newlywed couple's honeymoon is upended by th...
4806                 Signed, Sealed, Delivered  ...  "Signed, Sealed, Delivered" introduces a dedic...
4807                          Shanghai Calling  ...  When ambitious New York attorney Sam is sent t...
4808                         My Date with Drew  ...  Ever since the second grade when he first saw ...

[4809 rows x 7 columns]

In [ ]:
movies.isnull().sum()
movies.dropna(inplace=True)
movies.isnull().sum()

title       0
genres      0
cast        0
crew        0
movie_id    0
keywords    0
overview    0
dtype: int64

In [ ]:
movies.duplicated().sum()

0

In [ ]:
movies.genres[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [ ]:
import ast as at

In [ ]:
def convert(dup):
  L = []
  for i in at.literal_eval(dup):
       L.append(i['name'])
  return L

In [ ]:
movies['genres']=movies['genres'].apply(convert)

In [ ]:
movies['keywords']=movies['keywords'].apply(convert)

In [ ]:
movies.head()

                                      title  ...                                           overview
0                                    Avatar  ...  In the 22nd century, a paraplegic Marine is di...
1  Pirates of the Caribbean: At World's End  ...  Captain Barbossa, long believed to be dead, ha...
2                                   Spectre  ...  A cryptic message from Bond’s past sends him o...
3                     The Dark Knight Rises  ...  Following the death of District Attorney Harve...
4                               John Carter  ...  John Carter is a war-weary, former military ca...

[5 rows x 7 columns]

In [ ]:
at.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [ ]:
def create(dup):
  L = []
  count = 0
  for i in at.literal_eval(dup):
      if count < 3:
       L.append(i['name'])
       count+=1
       

  return L

In [ ]:
movies['cast'] = movies['cast'].apply(create)

In [ ]:
movies.head()

In [ ]:
movies['crew'][0]

In [ ]:
def direct(dup):
  L = []
  count = 0
  for i in at.literal_eval(dup):
      if i['job'] == 'Director':
       L.append(i['name'])
  return L

In [ ]:
movies['crew'] = movies['crew'].apply(direct)

In [ ]:
movies['overview']

In [ ]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [ ]:
movies.head()

In [ ]:
movies['genres'] = movies['genres'].apply(lambda x :[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x :[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x :[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x :[i.replace(" ","") for i in x])

In [ ]:
movies['tags'] = movies['overview'] + movies['keywords'] + movies['genres'] + movies['crew'] +movies['cast']

In [ ]:
movies.head()

                                      title  ...                                           overview
0                                    Avatar  ...  [In, the, 22nd, century,, a, paraplegic, Marin...
1  Pirates of the Caribbean: At World's End  ...  [Captain, Barbossa,, long, believed, to, be, d...
2                                   Spectre  ...  [A, cryptic, message, from, Bond’s, past, send...
3                     The Dark Knight Rises  ...  [Following, the, death, of, District, Attorney...
4                               John Carter  ...  [John, Carter, is, a, war-weary,, former, mili...

[5 rows x 7 columns]

In [ ]:
final_Movies = movies[['movie_id', 'title', 'tags']]

In [ ]:
final_Movies.head()

   movie_id  ...                                               tags
0     19995  ...  [In, the, 22nd, century,, a, paraplegic, Marin...
1       285  ...  [Captain, Barbossa,, long, believed, to, be, d...
2    206647  ...  [A, cryptic, message, from, Bond’s, past, send...
3     49026  ...  [Following, the, death, of, District, Attorney...
4     49529  ...  [John, Carter, is, a, war-weary,, former, mili...

[5 rows x 3 columns]

In [ ]:
final_Movies['tags'] = final_Movies['tags'].apply(lambda x : " ".join(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
final_Movies['tags'] = final_Movies['tags'].apply(lambda x : x.lower())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 6000, stop_words = 'english')

In [ ]:
final_Movies

      movie_id  ...                                               tags
0        19995  ...  in the 22nd century, a paraplegic marine is di...
1          285  ...  captain barbossa, long believed to be dead, ha...
2       206647  ...  a cryptic message from bond’s past sends him o...
3        49026  ...  following the death of district attorney harve...
4        49529  ...  john carter is a war-weary, former military ca...
...        ...  ...                                                ...
4804      9367  ...  el mariachi just wants to play his guitar and ...
4805     72766  ...  a newlywed couple's honeymoon is upended by th...
4806    231617  ...  "signed, sealed, delivered" introduces a dedic...
4807    126186  ...  when ambitious new york attorney sam is sent t...
4808     25975  ...  ever since the second grade when he first saw ...

[4806 rows x 3 columns]

In [ ]:
movie_vector = cv.fit_transform(final_Movies['tags']).toarray()
movie_vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
simil_dist = cosine_similarity(movie_vector)

NameError: ignored

In [ ]:
def recommend(movie):
    index = final_Movies[final_Movies['title'] == movie].index[0]
    distances = sorted(list(enumerate(simil_dist[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(final_Movies.iloc[i[0]].title)

In [ ]:
recommend('Gandhi')

Gandhi, My Father
The Wind That Shakes the Barley
A Passage to India
Guiana 1838
Ramanujan

In [ ]:
import pickle

In [ ]:
pickle.dump(final_Movies.to_dict(), open('Suggest13.pkl', 'wb'))

In [ ]:
pickle.dump(simil_dist,open('simil_dist.pkl', 'wb'))